/**
 * $HOME
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

 * {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
  background-color: #191919;
  background-image: url('../img/al-steel-bg1.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}



 .al-steel-container{
    //border: thin #999 solid;
   	width: 75%;
    margin: auto;
    text-align: center;
   	max-width: 100%;
   	padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    // background-color: #4e4e4e;
    max-width: 845px;
    min-width: 845px;

    .logo-lockup{
      width: 400px;
      margin: auto;

      img{width: 100%;}
    }

    .building-container{
     // border: thin red solid;
      width: 90%;      
      margin: auto;
      margin-top: 35px;
      // img{width: 100%;}

      .shed-box{
        width: 100%;
        height: auto;
        position: absolute;
        top: 190px;
        text-align: center;
        //border: thin red solid;
        max-width: 790px;
        margin-left:-29%;
      }

      .forest-bg{
        position: relative;
        display: inline-block;
        margin: auto;
        z-index: 10;
      }
      .float-item{
        position: absolute;
        margin: auto;
        display: inline-block;
      }

      .trim{        
        z-index: 50;
        margin-left: -18px;
        width: 60%;
      }
      .texture{
        margin-left: -3px;
        z-index: 40;
        width: 57%;
        top: 4px;
      }
      .siding{
        top: 10px;
        margin-left: -15px;
        z-index: 10;
        max-width: 468px;
        width: 59%;
      }
      .roof{
        margin-left: 65px;
        z-index: 10;
        width: 48%;
        top: 3px;
      }
      .shadow{
        margin-left: -15px;
        z-index: 60;
        width: 60%;
        top: 9px;
      }
    }


    .clear-fix{ clear: both; }
 }


 .options{
    width: 75%;
    margin: auto;
    color: white;
    margin-bottom: 30px;

    h2{
      color: #fff;
      font-size: 20px;
    }

    h3{
      color: white;
      font-size: 18px;
      margin-bottom: 8px;
      margin-top: 15px;
    }

    p{ 
      margin-bottom: 5px; 
      font-size: 14px;
    }

    span{
      color: #09ad7e;
      display: block;
      margin-top: 15px;
      margin-left: -27px;
    }

    .split50{
      display: inline-block;
      width: 48%;
      border: 1px #999 solid;
      text-align: center;
      vertical-align: top;

      .split50{
        border: none;
      }
    }

    .color-options{
      img{ width: 100%; }
    }



  //*** choose colors styles ***//

.color-block{
  display: inline-block;
  margin: 5px;
  width: 100px;
  vertical-align: top;

  .color-choice{
    //background-color: black;
    border: 1px #999 solid;
    min-width: 85px;
    min-height: 70px;
    cursor: pointer;
  }

  .color-title{
    color: white;
  }

  .ash-gray{
    background-color: #474b44;
  }
  .barn-red{
    background-color: #8c4435;
  }
  .black{
    background-color: #000000;
  }
  .burgundy{
    background-color: #503439;
  }
  .burnished-slate{
    background-color: #353d2e;
  }
  .colony-green{
    background-color: #4f6854;
  }
  .charcoal-gray{
    background-color: #474b44;
  } 
  .copper-metallic{
    background-color: #8f662a;
  }
  .crimson-red{
    background-color: #8f101a;
  }
  .desert-sand{
    background-color: #807d63;
  }
  .fern-green{
    background-color: #22382f;
  }
  .forest-green{
    background-color: #1d4430;
  }
  .gallery-blue{
    background-color: #003155;
  }
  .gold{
    background-color: #ae9962;
  }
  .hawaiian-blue{
    background-color: #2f5a6c;
  }
  .light-stone{
    background-color: #afa588;
  }
  .saddle-tan{
    background-color: #9c8564;
  }
  .galvalume{
    background-color: #c3c7c6;
  }
  .white{
    background-color: #ffffff;
  }
  .koko{
    background-color: #46382b;
  }
}

  



    //*** Check Boxes ***//

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left:0; top: 2px;
      width: 17px; height: 17px;
      border: 1px solid #aaa;
      background: #f8f8f8;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: 3px; left: 4px;
      font-size: 18px;
      line-height: 0.8;
      color: #09ad7e;
      transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      border: 1px dotted blue;
    }

    /* hover style just for information */
    label:hover:before {
      border: 1px solid #4778d9!important;
    }






    /* Useless styles, just for demo design */

    body {
      font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
      color: #777;
    }
    h1, h2 {
      margin-bottom: 5px;
      font-weight: normal;
      text-align: center;
    }
    h2 {
      margin: 5px 0 10px;
      //color: #aaa;
    }
    form {
      width: 80px;
      margin: 0 auto;
    }
    .txtcenter {
      margin-top: 4em;
      font-size: .9em;
      text-align: center;
      color: #aaa;
    }
    .copy {
     margin-top: 2em; 
    }
    .copy a {
     text-decoration: none;
     color: #4778d9;
    }


  

 }



 